


<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div id="menuitem1"></div>

<script src="assets/js/mustache.js"></script>
{{=<% %>=}}
<script>
    var people = {
        name:'sam',
        age:18
    };

    var output = Mustache.render('name is : {{name}} and age is {{age}}', people);
    var target = document.getElementById('menuitem1');
    target.innerHTML = output;

</script>
<%={{ }}=%>
</body>
</html>



{{=<% %>=}}
<script>
    var people = {
        name:'sam',
        age:18
    };

    var output = Mustache.render('name is : {{name}} and age is {{age}}', people);
    var target = document.getElementById('menuitem1');
    target.innerHTML = output;


    alert('ok123');
</script>
<%={{ }}=%>