
.container {
    max-width: 1100px;
    min-width: 240px;
    position: relative;
    width: 90%;
    padding: 0;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

nav.user {
    float: left;
    line-height: 43px;
}
.search-wrapper {
    float: right;
    padding: 5px 0 0 0;
}

.container.preheader form {
    margin: 0;
    padding: 0;
    height: 30px;
}

/**/


.header {
    margin: 0 auto 3% auto;
    position: relative;
    clear: both;
    padding: 0;
    background: #4c5966;
    z-index: 999 /*ie 7*/;
}

.header .container {
    position: relative;
}

.print {
    display: none;
}


#main_menu {
    padding: 0;
    z-index: 999;
    right: -12px;
    clear: none;
    position: relative;
    float: right;
    top: 0;
}
#main_menu li.parent i {
    background:url(../images/menu_arrow.png) 0 0 no-repeat;
    display:inline-block;
    width:5px;
    margin-left:8px;
    height:5px;
    position:relative;
    top:-2px;
}

.lt-ie8 #main_menu .parent i {
    position: relative;
    display: inline;
    zoom: 1;
    left: 5px;
    top: -4px
}

#main_menu ul ul li.parent i { /* third level */
    background-position:-5px 0;
}
#main_menu ul {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}
#main_menu ul ul {
    margin: 0;
    padding: 0;
    display:none;
}
/* first level */
#main_menu li {
    float: left;
    margin: 0 0 0 2px;
    padding: 0;
    position: relative;
    background: #4c5966;
    text-transform:lowercase;
}
#main_menu li a {
    border: none;
    color: #d8dfe5;
    display: block;
    height: 95px;
    line-height: 95px;
    margin: 0!important;
    padding: 0 12px;
    text-decoration: none;
    font-size: 110%;
}
#main_menu li.parent.foo a {
    background: inherit; /***! added this for ipad*/
}
#main_menu a:hover,
#main_menu .active a,
#main_menu a.selected,
#main_menu li.parent.foo.active a /***! added foo.active a **/ {
    background: #53a3b7;
    color: #fff;
}
/* sub level */
#main_menu ul li ul li a { font-size: 100% }
.lt-ie9 #main_menu ul li ul li a { font-size: 100% }
#main_menu ul li ul li a,
#main_menu ul ul a.selected,
#main_menu ul ul .active,
#main_menu ul ul a:hover {
    /* text-transform: none;*/
}
#main_menu li.active ul a {
    background-color: inherit;
    *background-color: transparent;
}
#main_menu li.active ul li.active a {
    background-color: #53a3b7;
}
#main_menu ul li ul li {
    background: #758694; /* second level bg color */
    float: none;
    left: auto;
    margin: 0;
    top: 0;
    width: 100%;
}
#main_menu ul li ul li ul li {
    background: #758694; /* third level bg color */
}

#main_menu li li {
    border-bottom:1px solid #a3b0bb;
}
#main_menu li ul a,
#main_menu li ul li a,
#main_menu li ul li ul li a {
    height: auto;
    line-height: 1.5;
    padding: 7px 10px;
    width: 175px;
    color: #fff;
}
#main_menu li ul {
    background: #6d767e;
    left: 0;
    padding: 0;
    position: absolute;
    top: 95px;
    z-index: 100;
}
/* second level */
#main_menu li ul ul {
    border-top: 0px;
    z-index:100000;
}
#main_menu li ul a:hover {
    background: #53a3b7;
}
/* third level + */
#main_menu ul ul ul {
    border: none;
    top: 0!important;
    left: 195px; /*when js is off*/
}

#main_menu li ul li ul {
    padding: 0;
    position: absolute;
    top: 0;
}
/* fourth level + bad idea to have more than two levels*/
#main_menu ul li ul li ul li ul li a {
    background: #333;
}

/*=================== ie7 fix */
.lt-ie8 #main_menu ul ul ul {
    display:none;
}

/* js off */
.no-js #main_menu ul li:hover ul ul {
    display: block;
}
.no-js #main_menu li:hover ul,
.no-js #main_menu li:hover ul li:hover ul {
    display: block;
}
.no-js.lt-ie8 #main_menu ul ul li:hover ul {
    display:block;
}

#logo {
    padding: 0 0 10px 0;
    float: left;
    position: relative;
    margin-top: 18px;
    background: url(../images/logo.png) no-repeat;
}

#logo, #logo img {
    width: 140px;
    height: 59px;
}

#logo em {
    position: absolute;
    display: block;
    top: -1000px;
    left: 100px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/**/

.hero-unit.center {
    text-align: center;
}
.hero-unit.center {
    text-align: center;
}
.hero-unit {
    position: relative;
    clear: both;
    margin: -1% 0 0 0;
    padding: 0 0 2% 0;
    background: transparent;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}
.center {
    text-align: center;
}

.hero-unit.no-border h1, .hero-unit.no-border h2 {
    background: none;
}
.hero-unit.no-padding-bottom h1, .hero-unit.no-padding-bottom h2 {
    padding-bottom: 0;
}





/**/
.lemmon-wrap, .prev-page, .next-page, .lemmon-slider li div {
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
}

.lemmon-wrap {
    position: relative;
    margin: 0 0 3% 0;
    background: transparent;
    padding: 0;
    clear: both;
}
.lemmon-slider {
    overflow: hidden;
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 350px !important;*/
}
.lemmon-slider ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.lemmon-slider li {
    float: left;
    list-style: none;
    position: relative;
    margin: 0 0 0 3px;
}



.lemmon-slider,
.lemmon-slider img {
    height: 350px
}
.lemmon-slider li div.summary {
    position: absolute;
    background: #000;
    background: rgba(0,0,0,0.75);
    color: #fff;
    opacity: 0;
    z-index: 100;
    display: block;
    left: 0;
    right: 0;
    top: -500px;
    padding: 10px;
    text-align: center;
}

.prev-page, .next-page {
    width: 40px;
    height: 100%;
}

.prev-page {
    background-position: -40px 50%;
}

.next-page {
    width: 40px;
    background-position: 0px 50%;
}

.prev-page {
    left: 0;
    right: auto;
    background-position: -110px 50%;
    border-right: 3px solid #fff;
}

.prev-page, .next-page {
    position: absolute;
    z-index: 200;
    top: 0;
    width: 30px;
    height: 100%;
    right: 0;
    text-indent: -9999px;
    display: block;
    opacity: .8;
    background: #6d767e url(../images/sliderarrows.png) -80px 50% no-repeat;
}

.next-page {
    border-left: 3px solid #fff;
}





/**/











/* 大屏幕 */
/*@media (min-width: 1200px) {*/
    /**/
/*}*/

/* 平板电脑和小屏电脑之间的分辨率 */
/*@media (min-width: 768px) and (max-width: 979px) {*/
/*}*/

/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) {
}

/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {
}