

{{=<% %>=}}
    var people = {
    name:pagename,
    age:pageparameter
    };

    var output = Mustache.render('name is : {{name}} and age is {{age}}', people);
    var target = document.getElementById('menuitem1');
    target.innerHTML = output;
<%={{ }}=%>
